@model EntityLayer.Concrete.Blog


@{
    ViewBag.Title = "AddNewBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<form class="form-group" method="post">

    @Html.Label("Blog Başlığı")
    <input type="text" class="form-control" name="BlogTitle" />
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })

    <br />
    @Html.Label("Kapak Fotoğrafı")
    <input type="text" class="form-control" name="BlogImage" />

    <br />
    @Html.Label("Tarih")
    <input type="text" class="form-control" name="BlogDate" />

    <br />
    @Html.Label("Kullanıcı")
    @Html.DropDownListFor(x => x.UserID, (List<SelectListItem>)ViewBag.values2, new { @class = "form-control" })
    <br />

    <br />
    <button class="btn btn-info"> KAYDET </button>

</form>